In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
charges = pd.read_csv('charges.csv', parse_dates=['created_date'])
charges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19442 entries, 0 to 19441
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   day                19442 non-null  int64
 1   month              19442 non-null  int64
 2   year               19442 non-null  int64
 3   created_date       19442 non-null  datetime64[ns]
 4   id                 19442 non-null  int64
 5   merchant_id        19442 non-null  int64
 6   payment_method_id  19442 non-null  object
 7   charged_amount     13463 non-null  float64
 8   captured           19442 non-null  bool
 9   failure_code       2920 non-null   object
 10  card_id            10172 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(5), object(2)
memory usage: 1.5+ MB

In [3]:
charges = charges.drop(columns=['day','month','year'])

In [4]:
charges.head()

,created_date,id,merchant_id,payment_method_id,charged_amount,captured,failure_code,card_id
0,2020-01-01,68488939,16129,P001,NaN,False,invalid_security_code,44685105.0
1,2020-01-01,68474516,71206,P001,12.00,True,NaN,43249411.0
2,2020-01-01,68546102,61534,P001,37.00,True,NaN,28514673.0
3,2020-01-01,68520484,61534,P001,177.00,True,NaN,38992215.0
4,2020-01-01,68507667,3045,P001,1972.57,True,NaN,44692929.0

In [5]:
charges.to_csv('charges_cleaned.csv',index=False)