In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
disputes = pd.read_csv('disputes.csv', parse_dates=['dispute_opened_date'], dayfirst=True)
disputes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   912 non-null    int64
 1   dispute_opened_date  912 non-null    datetime64[ns]
 2   Category             912 non-null    object
 3   dispute_amount       912 non-null    float64
 4   charge_id            912 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 35.8+ KB

In [3]:
disputes.head()

      id dispute_opened_date    Category  dispute_amount  charge_id
0  42234          2020-02-06  Commercial          630.00   68514955
1  42235          2020-02-11  Commercial          673.03   68601530
2  42236          2020-02-06       Fraud          747.93   68730567
3  42237          2020-01-17       Fraud          250.00   68848364
4  42238          2020-07-03  Commercial         1665.03   69008749

In [4]:
disputes.to_csv('disputes_cleaned.csv',index=False)